/******************************************************************
Site Name:
Author: The SplitPixel

Stylesheet: Main Stylesheet

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/

/*********************
IMPORTING PARTIALS
*********************/

// normalize: http://necolas.github.io/normalize.css/
// Sass variables, tokens, typography, functions, mixins
@use "globals" as *;

// the grid
// @use "partials/grid";
@use "partials/flexboxgrid";

/*********************
IMPORTING MODULES
*********************/

// alert boxes
@use "modules/alerts";

// buttons
@use "modules/buttons";

// forms (inputs & labels)
@use "modules/forms";

// gradient (stops and starts)
@use "modules/gradients";

/*********************
BASE (MOBILE) SIZE
*********************/

// styles in base.scss
@use "breakpoints/base";

// single post hero + related posts section
@use "breakpoints/hero-single" as *;

/*********************
LARGER MOBILE DEVICES
*********************/

// styles in 48em.scss
@use "breakpoints/48em" as *;

/*********************
TABLET & SMALLER LAPTOPS
*********************/

// styles in 64em.scss
@use "breakpoints/64em" as *;

/*********************
DESKTOP
*********************/

// styles in 75em.scss
@use "breakpoints/75em" as *;

/*********************
LARGE VIEWING SIZE
*********************/

// styles in 1240up.scss
@use "breakpoints/1240up" as *;

// styles in 1440up.scss
@use "breakpoints/1440up" as *;

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/

@use "partials/print";
