/******************************************************************
Stylesheet: Tokens
*********************/

@use "variables" as *;

/* COLOR - SURFACE */
@mixin surface_primary__content {
    background-color: $secondary-50;
}

@mixin surface_primary__content-95 {
    background-color: rgba($secondary-50, 0.95);
}

/* COLOR - TEXT */

@mixin color_text__nav-item_default {
    color: $primary-600;
}

@mixin color_text__nav-item_hover {
    color: $primary-900;
    transition: 600ms;
}

@mixin color_text__nav-item_pressed {
    color: $primary-800;
}

@mixin color_text__label_primary--default {
    color: $primary-800;
}

@mixin color_text__label_secondary--default {
    color: $primary-500;
}

@mixin border-radius-xs {
    border-radius: $radius-xs;
}

@mixin border-radius-sm {
    border-radius: $radius-sm;
}

@mixin border-radius-md {
    border-radius: $radius-md;
}

@mixin border-radius-lg {
    border-radius: $radius-lg;
}

/* COLOR - SURFACE */

@mixin color_surface__button_primary--default {
    background-color: $primary-400;
}

@mixin color_surface__button_primary--hover {
    background-color: $primary-300;
}

@mixin color_surface__button_primary--is_active {
    background-color: $primary-600;
}

@mixin color_border__button_primary--default {
    border-color: $primary-400;
}

@mixin color_surface__button_secondary--default {
    background-color: rgba($white, 0.8);
}

@mixin color_surface__button_secondary--hover {
    background-color: $primary-300;
}

@mixin color_surface__button_secondary--is_active {
    background-color: $primary-600;
}

@mixin color_surface__card_primary {
    background-color: $primary-200;
}

@mixin color_surface__dark_primary {
    background-color: $primary-600;
}

/* COLOR - BORDER */

@mixin color_border__primary {
    border-color: $primary-400;
}