/******************************************************************
Stylesheet: Tokens
*********************/

@use "variables" as *;


%surface_primary__content {
    background-color: $secondary-50;
}

%surface_primary__content-95 {
    background-color: rgba($secondary-50, 0.95);
}

%border-radius-sm {
    border-radius: $spacing-sm;
}