/******************************************************************
Stylesheet: Tokens
*********************/

@use "variables" as *;



%content_background__primary {
    background-color: $grey-10;
}

%border-radius-sm {
    border-radius: $spacing-sm;
}

%content_surface__primary-95 {
    background-color: rgba($secondary-50, 0.95);
}