@use "../globals" as *;

/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $header-font;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  padding: $spacing-sm $spacing-lg;
  padding-top: 0.9em;
  line-height: 1;
  border-radius: $radius-xs;
  border: 3px solid;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  .svg-inline--fa {
    font-size: .9em;
  }

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

  &--primary {
    &--solid, &--darkbg {
      @include color_surface__button_primary--default;
      @include color_text__label_primary--default;
      @include color_border__button_primary--default;
    }

    &--outline {
      @include color_surface__button_primary--outline;
      @include color_text__label_primary--outline;
      @include color_border__button_primary--default;

      &--darkbg {
        @include color_text_darkbg__label_primary--default;
      }
    }

    &--text {
      @include color_text__label_primary--outline;
      border: 0px;
      display: inline-block;

      &--darkbg {
        @include color_text_darkbg__label_primary--default;
      }

      &:hover, &:focus {
        color: $secondary-600;
        text-decoration: none;
        outline: none;
        background-color: $primary-10_10;
      }
    }

    &:hover, &:focus {
        @include color_surface__button_primary--hover;
        text-decoration: none;
        outline: none;
      }

    &:active {
      @include color_surface__button_primary--is_active;
    }
  }

  &--secondary {
    &--solid {
      @include color_surface__button_secondary--default;
      @include color_text__label_secondary--default;
      @include color_border__button_secondary--default;

      &--darkbg {
        @include color_surface_darkbg__button_secondary--default;
        @include color_text_darkbg__label_secondary--default;
        @include color_border_darkbg__button_secondary--default;

        &:hover, &:focus {
          @include color_surface__button_secondary--outline;
          @include color_text_darkbg__label_secondary--outline;
        }
      }
    }

    &--outline {
      @include color_surface__button_secondary--outline;
      @include color_text__label_secondary--outline;
      @include color_border__button_secondary--default;

      &--darkbg {
        @include color_text_darkbg__label_secondary--outline;
        @include color_border_darkbg__button_secondary--default;

        &:hover, &:focus {
          @include color_surface_darkbg__button_secondary--default;
          @include color_text_darkbg__label_secondary--default;
        }
      }
    }

    &--text {
      @include color_text__label_secondary--outline;
      border: 0px;
      display: inline-block;

      &--darkbg {
        @include color_text_darkbg__label_secondary--outline;

        &:hover, &:focus {
          background-color: transparent;
          @include color_text__label_secondary--default;
        }
      }

      &:hover, &:focus {
        @include color_text__label_secondary--hover;
        text-decoration: none;
        outline: none;
        background-color: transparent;
      }
    }

    &:hover, &:focus {
        color: $secondary-700;
        @include color_surface__button_secondary--hover;
        text-decoration: none;
        outline: none;
      }
  }

  &--accent {
    &--solid {
      @include color_surface__button_accent--default;
      @include color_text__label_accent--default;
      @include color_border__button_accent--default;

      &--darkbg {
        @include color_surface_darkbg__button_accent--default;
        @include color_text_darkbg__label_accent--default;
        @include color_border_darkbg__button_accent--default;

        &:hover, &:focus {
          background-color: $primary-10_10;
          @include color_text_darkbg__label_accent--outline;
          @include color_border__button_accent--default;
        }
      }
    }

    &--outline {
      background-color: $primary-10_10;
      @include color_text__label_accent--outline;
      @include color_border__button_accent--default;

      &--darkbg {
        @include color_text_darkbg__label_accent--outline;
        @include color_border_darkbg__button_accent--default;

        &:hover, &:focus {
          @include color_surface_darkbg__button_accent--default;
          @include color_text_darkbg__label_accent--default;
        }
      }
    }

    &--text {
      @include color_text__label_accent--outline;
      border: 0px;
      display: inline-block;

      &--darkbg {
        @include color_text_darkbg__label_accent--outline;

        &:hover, &:focus {
          @include color_text_darkbg__label_accent--light;
          background-color: transparent;
        }
      }

      &:hover, &:focus {
        color: $accent-800;
        text-decoration: none;
        outline: none;
        background-color: $primary-10_10;
      }
    }

    &:hover, &:focus {
      @include color_surface__button_accent--hover;
      @include color_text__label_accent--default;
      text-decoration: none;
      outline: none;
    }

    &:active {
      @include color_surface__button_accent--is_active;
    }
  }

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.

.accent-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $secondary-500;

  &:hover,
  &:focus {
    background-color: darken($secondary-500, 4%);
  } // end hover

  &:active {
    background-color: darken($secondary-500, 5%);
  } // end active

} // end blue button
*/